# Ignore some static files and directories.
/.htaccess
/config.php
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/README.md
/favicon.ico
/index.php
/LICENSE.txt
/robots.php
/robots.txt
/web.config
/admin/
/assets/
/data/
/includes/
/install/
/uploads/

# Ignore fix module files and directories.
/modules/*
!/modules/code
!/modules/code/*
/themes/*
!/themes/admin_default/css/code.css
!/themes/admin_default/js/code.js
!/themes/admin_default/js/code_*.js
!/themes/admin_default/images/code
!/themes/admin_default/images/code/*
!/themes/admin_default/modules/code
!/themes/admin_default/modules/code/*
!/themes/default/css/code.css
!/themes/default/js/code.js
!/themes/default/js/code_*.js
!/themes/default/images/code
!/themes/default/images/code/*
!/themes/default/modules/code
!/themes/default/modules/code/*
/.project